.youtubeWrapper {
    position: relative;
    width: 132rem;
    height: 0;
    padding-bottom: 70rem;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and ($media-xs) {
    .youtubeWrapper {
        width: 100%;
        padding-bottom: 57%;
    }
}

@media screen and ($media-sm) {
    .youtubeWrapper {
        width: 58rem;
        padding-bottom: 32rem;
    }
}

@media screen and ($media-md) {
    .youtubeWrapper {
        width: 88rem;
        padding-bottom: 48rem;
    }
}